name: finki-discord-bot-dev

services:
  bot:
    build: .
    pull_policy: build
    environment:
      TOKEN: ${TOKEN}
      APPLICATION_ID: ${APPLICATION_ID}
      CHATBOT_URL: ${CHATBOT_URL}
      API_KEY: ${API_KEY}
      DATA_STORAGE_URL: ${DATA_STORAGE_URL}
      TZ: ${TZ}
    image: finki-discord-bot-dev:latest
    networks:
      - finki_stack_dev
    restart: unless-stopped
    volumes:
      - ./config:/app/config
      - ./sessions:/app/sessions
      - ./logs:/app/logs

networks:
  finki_stack_dev:
    name: finki_stack_dev
    driver: bridge
    # Set external to true to use an existing network
    # external: true
