{
  "GUILD_ID": {
    "channels": null,
    "crossposting": {
      "channels": [],
      "enabled": false
    },
    "errorWebhook": null,
    "models": {
      "embeddings": "BGE_M3",
      "inference": "LLAMA_3_3_70B"
    },
    "roles": null,
    "ticketing": {
      "enabled": false,
      "tickets": null
    }
  }
}
