name: Linter

on:
  push:
    branches: [main, dev]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  eslint:
    uses: finki-hub/.github/.github/workflows/eslint.yaml@main
    secrets: inherit
